data/raw_data filter=lfs diff=lfs merge=lfs -text
data/raw_data_10h filter=lfs diff=lfs merge=lfs -text
data/raw_data_pipeline filter=lfs diff=lfs merge=lfs -text
data/test_data filter=lfs diff=lfs merge=lfs -text
data/* filter=lfs diff=lfs merge=lfs -text
data/** filter=lfs diff=lfs merge=lfs -text

