absl-py==0.1.13
adjustText==0.6.3
aiohttp==1.0.5
alabaster==0.7.10
alembic==0.9.9
anaconda-client==1.6.3
anaconda-navigator==1.6.2
anaconda-project==0.6.0
args==0.1.0
asn1crypto==0.22.0
astor==0.6.2
astroid==1.4.9
astropy==1.3.2
async-timeout==3.0.0
Babel==2.4.0
backports.shutil-get-terminal-size==1.0.0
banal==0.3.7
beautifulsoup4==4.6.0
bintrees==2.0.7
bitarray==0.8.1
blaze==0.10.1
bleach==1.5.0
bokeh==0.12.5
boto==2.46.1
Bottleneck==1.2.1
certifi==2018.1.18
cffi==1.10.0
chardet==3.0.4
citipy==0.0.5
click==6.7
clint==0.5.1
cloudpickle==0.2.2
clyent==1.2.2
colorama==0.3.9
comtypes==1.1.2
contextlib2==0.5.5
cryptography==1.8.1
cycler==0.10.0
Cython==0.25.2
cytoolz==0.8.2
dask==0.14.3
dataset==1.0.8
datashape==0.5.4
decorator==4.0.11
discord==0.0.2
discord.py==0.16.12
distributed==1.16.3
docopt==0.6.2
docutils==0.13.1
entrypoints==0.2.2
et-xmlfile==1.0.1
fastcache==1.0.2
feather-format==0.4.0
Flask==0.12.2
Flask-Cors==3.0.2
Flask-PyMongo==0.5.1
Flask-SQLAlchemy==2.3.2
floyd-cli==0.10.37
gast==0.2.0
gdax==1.0.6
gevent==1.2.1
gnupg==2.3.1
graphviz==0.8.2
greenlet==0.4.12
grpcio==1.10.1
h5py==2.7.0
HeapDict==1.0.0
html5lib==0.9999999
idna==2.6
imagesize==0.7.1
ipykernel==4.6.1
ipython==5.3.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
isort==4.2.5
itsdangerous==0.24
jdcal==1.3
jedi==0.10.2
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.1
jupyter-console==5.1.0
jupyter-core==4.3.0
kdtree==0.16
Keras==2.1.5
kiwisolver==1.0.1
lazy-object-proxy==1.2.2
llvmlite==0.18.0
locket==0.2.0
lxml==3.7.3
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==0.23
marshmallow==2.15.0
matplotlib==2.2.2
menuinst==1.4.7
mistune==0.7.4
mpmath==0.19
msgpack-python==0.4.8
multidict==4.3.1
multipledispatch==0.4.9
navigator-updater==0.1.0
nbconvert==5.1.1
nbformat==4.3.0
networkx==1.11
nltk==3.3
normality==0.6.1
nose==1.3.7
notebook==5.0.0
numba==0.33.0
numexpr==2.6.2
numpy==1.14.2
numpydoc==0.6.0
oauthlib==2.0.6
odo==0.5.0
olefile==0.44
openpyxl==2.4.7
openweathermapy==0.6.6
packaging==16.8
pandas==0.23.3
pandas-datareader==0.6.0
pandocfilters==1.4.1
partd==0.3.8
path.py==10.3.1
pathlib2==2.3.0
patsy==0.4.1
pep8==1.7.0
pickleshare==0.7.4
Pillow==5.1.0
pipreqs==0.4.9
ply==3.10
prompt-toolkit==1.0.14
protobuf==3.5.2.post1
psutil==5.2.2
py==1.4.33
pyarrow==0.9.0
pycosat==0.6.2
pycparser==2.17
pycrypto==2.6.1
pycurl==7.43.0.2
pydotplus==2.0.2
pyflakes==1.5.0
Pygments==2.2.0
pylint==1.6.4
pymongo==3.6.0
PyMySQL==0.8.0
pyodbc==4.0.16
pyOpenSSL==17.0.0
pyparsing==2.1.4
pytest==3.0.7
python-dateutil==2.6.0
python-editor==1.0.3
pytz==2018.4
PyWavelets==0.5.2
pywin32==220
PyYAML==3.12
pyzmq==16.0.2
QtAwesome==0.4.4
qtconsole==4.3.0
QtPy==1.2.1
raven==6.6.0
requests==2.18.4
requests-file==1.4.3
requests-ftp==0.3.1
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
rope-py3k==0.9.4.post1
scikit-image==0.13.0
scikit-learn==0.18.1
scipy==0.19.0
seaborn==0.7.1
selenium==3.9.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
snowballstemmer==1.2.1
sortedcollections==0.5.3
sortedcontainers==1.5.7
sphinx==1.5.6
splinter==0.7.7
spyder==3.1.4
SQLAlchemy==1.1.9
statsmodels==0.8.0
sympy==1.0
tables==3.2.2
tabulate==0.8.2
tblib==1.3.2
tensorboard==1.7.0
tensorflow==1.7.0
termcolor==1.1.0
testpath==0.3
toolz==0.8.2
tornado==4.5.1
traitlets==4.3.2
tweepy==3.5.0
unicodecsv==0.14.1
urllib3==1.22
vaderSentiment==2.5
wcwidth==0.1.7
websocket-client==0.40.0
websockets==3.4
Werkzeug==0.12.2
widgetsnbextension==2.0.0
win-unicode-console==0.5
wrapt==1.10.10
xlrd==1.0.0
XlsxWriter==0.9.6
xlwings==0.10.4
xlwt==1.2.0
yarg==0.1.9
zict==0.1.2
